<section id="about" class="about container">
	<h4 class="about__title">About me</h4>

	<p class="about__desc _anim-show _anim-items _anim-no-hide">👋 Hello, I'm Dmytro, a passionate front-end developer and dedicated IT course teacher based in LemonSchool. With a deep love for code and a commitment to fostering the next generation of tech talent, I've embarked on a fulfilling journey in the world of web development and education.</p>
	<p class="about__desc _anim-show _anim-items _anim-no-hide">🚀 As a front-end developer, I bring ideas to life through the art of coding. My expertise lies in crafting user-friendly, responsive, and visually appealing websites and web applications. I thrive on the challenge of turning complex concepts into elegant and intuitive digital experiences.</p>
	<p class="about__desc _anim-show _anim-items _anim-no-hide">
		🌟 My journey is fueled by a commitment to continuous learning and a belief in the transformative power of technology. I am a firm believer that education and innovation go hand in hand, and I strive to bridge the gap between theory and practice in every class I teach.</p>
	<p class="about__desc _anim-show _anim-items _anim-no-hide">📧 Feel free to reach out at <a href="mailto:lord1kdev@gmail.com">lord1kdev@gmail.com</a> or connect with me on <a href="mailto:https://www.linkedin.com/in/dmytro-maksiuta-51b863162/">LinkedIn</a>. </p>

	<a href="https://youtu.be/5XhxuWKyqlo" class="about__video">
		<img src="./img/video.jpg" alt="dmaksiuta">
		<span class="play-btn"></span>
	</a>
</section>
