<section id="contacts" class="contacts container">
	<div class="contacts__title">My Contact</div>
	<div class="contacts__desc _anim-show _anim-items _anim-no-hide"> Effective communication is vital for business and personal interactions. Without contact information, visitors may be frustrated if they can't find a way to ask questions, seek clarifications, or engage in discussions related to your content or services.</div>
	<div class="contacts-item _anim-show _anim-items _anim-no-hide">
		<div class="contacts-item__title">UpWork</div>
		<a href="https://www.upwork.com/freelancers/~01e755530516cfd524" class="contacts-item__link">Dmytro Maksiuta</a>
	</div>
	<div class="contacts-item _anim-show _anim-items _anim-no-hide">
		<div class="contacts-item__title">GitHub</div>
		<a href="https://github.com/dmaksiuta" class="contacts-item__link">dmaksiuta</a>
	</div>
	<div class="contacts-item _anim-show _anim-items _anim-no-hide">
		<div class="contacts-item__title">Email</div>
		<a href="mailto:lord1kdev@gmail.com" class="contacts-item__link">lord1kdev@gmail.com</a>
	</div>
	<div class="contacts-item _anim-show _anim-items _anim-no-hide">
		<div class="contacts-item__title">Linked In</div>
		<a href="https://www.linkedin.com/in/dmytro-maksiuta-51b863162/" class="contacts-item__link">Dmytro Maksiuta</a>
	</div>
	<div class="contacts-item _anim-show _anim-items _anim-no-hide">
		<div class="contacts-item__title">Telegram</div>
		<a href="https://t.me/dmaksiuta" class="contacts-item__link">Chat me</a>
	</div>
</section>
