<section id="github" class="github container">
	<h4 class="github__title">My Github</h4>
	<p class="github__desc _anim-show _anim-items _anim-no-hide">My GitHub repositories are a reflection of my dedication to front-end development. From HTML and CSS to JavaScript frameworks like React and Angular, I'm constantly honing my skills to create pixel-perfect, responsive, and interactive websites. You'll find projects showcasing my expertise in UI/UX design, animation, and optimizing for performance.</p>
	<a href="https://github.com/dmaksiuta" class="github__link">Follow me on Github</a>
	<a href="https://github.com/dmaksiuta" class="github__img">
		<img src="./img/github.webp" alt="dmaksiuta">
	</a>
</section>
