<section id="overview" class="overview container">
	<div class="small-title">overview</div>
	<div class="title">Why me?</div>
	<div class="overview__list">
		<div class="overview-item _anim-show _anim-items _anim-no-hide">
			<div class="overview-item__count">100+</div>
			<h4 class="overview-item__title _green">Completed projects</h4>
			<p class="overview-item__desc"> With a track record of successfully delivering numerous projects, I bring a proven ability to turn ideas into tangible results, ensuring your project is in capable hands.</p>
		</div>
		<div class="overview-item _anim-show _anim-items _anim-no-hide">
			<div class="overview-item__count">65+</div>
			<h4 class="overview-item__title _sky">Students has growed</h4>
			<p class="overview-item__desc">Through my passion for IT education, I've nurtured the growth of countless students, fostering their technical skills and preparing them for success in the ever-evolving world of information technology.</p>
		</div>
		<div class="overview-item _anim-show _anim-items _anim-no-hide">
			<div class="overview-item__count">5+</div>
			<h4 class="overview-item__title _pink">Years of experience</h4>
			<p class="overview-item__desc">With years of hands-on experience in my field, I offer a wealth of knowledge and expertise that translates into effective solutions and strategies tailored to your unique needs.</p>
		</div>
	</div>
</section>
