<section id="projects" class="projects container">
	<div class="small-title">MY PROJECTS</div>
	<div class="title">Work that I’ve done for the past 5+ years</div>
	<div class="projects__list">
		<div class="projects-item _anim-show _anim-items _anim-no-hide">
			<div class="projects-item__img"><img src="./img/projects/project1.png" alt="project1"></div>
			<div class="projects-item__info">
				<div class="projects-item__title">CoinView Mobile App Design</div>
				<div class="projects-item__desc">I worked with the guys at CBRE to redesign their entire website and mobile app fro both Android and iOS. This project lasted for 4 months and was a very challenging one.</div>
			</div>
		</div>
		<div class="projects-item _anim-show _anim-items _anim-no-hide">
			<div class="projects-item__img"><img src="./img/projects/project1.png" alt="project1"></div>
			<div class="projects-item__info">
				<div class="projects-item__title">CoinView Mobile App Design</div>
				<div class="projects-item__desc">I worked with the guys at CBRE to redesign their entire website and mobile app fro both Android and iOS. This project lasted for 4 months and was a very challenging one.</div>
			</div>
		</div>
		<div class="projects-item _anim-show _anim-items _anim-no-hide">
			<div class="projects-item__img"><img src="./img/projects/project1.png" alt="project1"></div>
			<div class="projects-item__info">
				<div class="projects-item__title">CoinView Mobile App Design</div>
				<div class="projects-item__desc">I worked with the guys at CBRE to redesign their entire website and mobile app fro both Android and iOS. This project lasted for 4 months and was a very challenging one.</div>
			</div>
		</div>
		<div class="projects-item _anim-show _anim-items _anim-no-hide">
			<div class="projects-item__img"><img src="./img/projects/project1.png" alt="project1"></div>
			<div class="projects-item__info">
				<div class="projects-item__title">CoinView Mobile App Design</div>
				<div class="projects-item__desc">I worked with the guys at CBRE to redesign their entire website and mobile app fro both Android and iOS. This project lasted for 4 months and was a very challenging one.</div>
			</div>
		</div>
		<div class="projects__btn">
			<button onclick="allProjetsModalOpen()" class="btn _primary">VIEW ALL PROJECTS</button>
		</div>
	</div>
</section>
