<section id="skills" class="skills container _anim-show _anim-items _anim-no-hide">
	<div class="skills__row">
		<div class="skills-overview">
			<h4 class="skills-overview__title">Skillset</h4>
			<p class="skills-overview__desc">With skills in different fields of development, I am the perfect person to hire when it comes to a full fledged project. Whatever your needs are, I can pretty much take on any challenge.</p>
		</div>
		<div class="skills-item">
			<div class="skills-item__icon">
				<img src="./img/icons/code.svg" alt="code">
			</div>
			<h4 class="skills-item__title">Building web and mobile apps</h4>
			<p class="skills-item__desc">Leveraging my development prowess, I create dynamic and user-friendly web and mobile applications. From concept to deployment, I deliver tailored solutions that drive your digital ambitions forward.</p>
		</div>
		<div class="skills-item">
			<div class="skills-item__icon">
				<img src="./img/icons/teach.svg" alt="teach">
			</div>
			<h4 class="skills-item__title">Teaching HTML/CSS/JS</h4>
			<p class="skills-item__desc">Sharing my expertise in HTML, CSS, and JavaScript, I empower learners to craft engaging and interactive web experiences. With my guidance, students unlock the potential of these foundational web technologies.</p>
		</div>
	</div>
	<div class="skills-list">
		<div class="skills-list__img"><img src="./img/skills/html.png" alt="html"></div>
		<div class="skills-list__img"><img src="./img/skills/css.png" alt="css"></div>
		<div class="skills-list__img"><img src="./img/skills/js.png" alt="js"></div>
		<div class="skills-list__img"><img src="./img/skills/react.png" alt="react"></div>
		<div class="skills-list__img"><img src="./img/skills/angular.png" alt="angular"></div>
	</div>
</section>
