<section id="welcome" class="welcome container">
	<div class="welcome__img zoomIn">
		<img src="./img/dmaksiuta.jpg" alt="dmaksiuta">
	</div>
	<div class="welcome__info scale-up-center">
		<h1 class="welcome__name">Dmytro Maksiuta</h1>
		<p class="welcome__role">front-end developer.</p>
		<p class="welcome__about">I’m probably the most passionate developer you will ever get to work with. If you have a great project that needs some amazing skills, I’m your guy.</p>
		<div class="welcome__btn">
			<a href="./img/Maksiuta_Dmytro_CV.pdf" class="btn _primary" download>Download cv</a>
		</div>
	</div>
</section>
