.footer {
	padding-top: 40px;
	padding-bottom: 40px;
	background: var(--c-cover);

	&__info {
		display: flex;
		align-items: center;
		justify-content: space-between;

		padding: 20px;

	}

	&__logo {
		font: var(--font-overline);
		color: var(--c-text);
		text-transform: uppercase;

		span {
			margin-right: 3px;
			display: inline-block;
			background: var(--c-primary);
			padding: 3px 5px;
			border-radius: var(--b-radius);
			transform: rotate(-10deg);
		}
	}

	&__copy {
		color: rgba(var(--c-text-rgb), 0.3);
		text-align: center;
	}
}
