.overview {
	padding-top: 120px;
	padding-bottom: 144px;

	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 24px;

		@include tablet {
			grid-template-columns: 1fr 1fr;
		}

		@include mobile {
			grid-template-columns: 1fr;
		}
	}
}

.overview-item {

	&__count {
		font: var(--font-label);
		color: var(--c-light-grey);
	}

	&__title {
		font: var(--font-h3);
		color: var(--c-light-grey);
		&._green {
			color: var(--c-green);
		}
		&._sky {
			color: var(--c-sky);
		}
		&._pink {
			color: var(--c-pink);
		}
	}

	&__desc {
		font: var(--font-body2);
		color: var(--c-text);
	}
}
