.projects-all {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	top: 0;
	left: 0;
	z-index: 99;
	padding: 45px;
	background: rgba(0, 0, 0, 0.6);

	&._open {
		display: block;
	}

	&__container {
		position: relative;
	}

	&__list {
		padding: 0 30px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 24px;
	}

	.material-icons {
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
	}

	.projects-item {
		&:nth-child(even) {
			margin-top: 0;
		}
	}
}
