.welcome {
	padding-top: 180px;
	padding-bottom: 152px;
	display: flex;
	align-items: center;
	gap: 60px;
	position: relative;

	@include desktop-small {
		flex-direction: column;
	}

	@include mobile {
		padding-top: 90px;
		gap: 36px;
		padding-bottom: 70px;
	}

	&::before {
		content: '';
		display: block;
		max-width: 900px;
		max-height: 900px;
		width: 100%;
		height: calc(100% + 88px);
		position: absolute;
		right: 20px;
		top: -88px;
		background: var(--c-cover);
		z-index: -1;
	}

	&__img {
		max-width: 550px;

		img {
			border-radius: 3px;
			box-shadow: -48px 0px 156px 0px #100029;
		}
	}

	&__info {
		flex-shrink: 0;
	}

	&__name {
		font: var(--font-h1);
		color: var(--c-text);
	}

	&__role {
		font: var(--font-h2);
		color: rgba(var(--c-text-rgb), 0.5);
		margin: 0;
		margin-bottom: 25px;
	}

	&__about {
		font: var(--font-body1);
		color: var(--c-text);
		margin-bottom: 30px;
		max-width: 720px;
	}
}
