<section id="contacts" class="contacts container">
	<div class="contacts__title">My Contact</div>
	<div class="contacts__desc">Each dribbble shot is made with love and care. Do check out my work on Dribbble. Likes and coments are appreciated.</div>
	<div class="contacts-item">
		<div class="contacts-item__title">UpWork</div>
		<a href="/" class="contacts-item__link">Dmytro Maksiuta</a>
	</div>
	<div class="contacts-item">
		<div class="contacts-item__title">GitHub</div>
		<a href="/" class="contacts-item__link">dmaksiuta</a>
	</div>
	<div class="contacts-item">
		<div class="contacts-item__title">Email</div>
		<a href="/" class="contacts-item__link">lord1kdev@gmail.com</a>
	</div>
	<div class="contacts-item">
		<div class="contacts-item__title">Linked In</div>
		<a href="/" class="contacts-item__link">Dmytro Maksiuta</a>
	</div>
</section>
