<section id="overview" class="overview container">
	<div class="small-title">overview</div>
	<div class="title">Why me?</div>
	<div class="overview__list">
		<div class="overview-item">
			<div class="overview-item__count">100+</div>
			<h4 class="overview-item__title _green">Completed projects</h4>
			<p class="overview-item__desc">I currently am the lead designer on the interaction design team for Google Play.</p>
		</div>
		<div class="overview-item">
			<div class="overview-item__count">65+</div>
			<h4 class="overview-item__title _sky">Students has growed</h4>
			<p class="overview-item__desc">I’ve worked on a wide variety of internal tools for facebook over the past 6 years.</p>
		</div>
		<div class="overview-item">
			<div class="overview-item__count">5+</div>
			<h4 class="overview-item__title _pink">Years of experience</h4>
			<p class="overview-item__desc">I started my design career with Dribbble. I was incharge of creating illustrations for the platform.</p>
		</div>
	</div>
</section>
