<section class="projects-all" id="projectsAll">
	<div class="container projects-all__container">
		<span class="material-icons" onclick="allProjetsModalOpen()">close</span>
		<div class="projects-all__list">
			<div class="projects-item">
				<div class="projects-item__img">
					<img src="./img/projects/project1.png" loading="lazy" alt="project1" />
				</div>
				<div class="projects-item__info">
					<div class="projects-item__title">
						CoinView Mobile App Design
					</div>
					<div class="projects-item__desc">
						I worked with the guys at CBRE to redesign their entire
						website and mobile app fro both Android and iOS. This
						project lasted for 4 months and was a very challenging
						one.
					</div>
				</div>
			</div>
			<div class="projects-item">
				<div class="projects-item__img">
					<img src="./img/projects/project1.png" loading="lazy" alt="project1" />
				</div>
				<div class="projects-item__info">
					<div class="projects-item__title">
						CoinView Mobile App Design
					</div>
					<div class="projects-item__desc">
						I worked with the guys at CBRE to redesign their entire
						website and mobile app fro both Android and iOS. This
						project lasted for 4 months and was a very challenging
						one.
					</div>
				</div>
			</div>
			<div class="projects-item">
				<div class="projects-item__img">
					<img src="./img/projects/project1.png" loading="lazy" alt="project1" />
				</div>
				<div class="projects-item__info">
					<div class="projects-item__title">
						CoinView Mobile App Design
					</div>
					<div class="projects-item__desc">
						I worked with the guys at CBRE to redesign their entire
						website and mobile app fro both Android and iOS. This
						project lasted for 4 months and was a very challenging
						one.
					</div>
				</div>
			</div>
			<div class="projects-item">
				<div class="projects-item__img">
					<img src="./img/projects/project1.png" loading="lazy" alt="project1" />
				</div>
				<div class="projects-item__info">
					<div class="projects-item__title">
						CoinView Mobile App Design
					</div>
					<div class="projects-item__desc">
						I worked with the guys at CBRE to redesign their entire
						website and mobile app fro both Android and iOS. This
						project lasted for 4 months and was a very challenging
						one.
					</div>
				</div>
			</div>
			<div class="projects-item">
				<div class="projects-item__img">
					<img src="./img/projects/project1.png" loading="lazy" alt="project1" />
				</div>
				<div class="projects-item__info">
					<div class="projects-item__title">
						CoinView Mobile App Design
					</div>
					<div class="projects-item__desc">
						I worked with the guys at CBRE to redesign their entire
						website and mobile app fro both Android and iOS. This
						project lasted for 4 months and was a very challenging
						one.
					</div>
				</div>
			</div>
			<div class="projects-item">
				<div class="projects-item__img">
					<img src="./img/projects/project1.png" loading="lazy" alt="project1" />
				</div>
				<div class="projects-item__info">
					<div class="projects-item__title">
						CoinView Mobile App Design
					</div>
					<div class="projects-item__desc">
						I worked with the guys at CBRE to redesign their entire
						website and mobile app fro both Android and iOS. This
						project lasted for 4 months and was a very challenging
						one.
					</div>
				</div>
			</div>
			<div class="projects-item">
				<div class="projects-item__img">
					<img src="./img/projects/project1.png" loading="lazy" alt="project1" />
				</div>
				<div class="projects-item__info">
					<div class="projects-item__title">
						CoinView Mobile App Design
					</div>
					<div class="projects-item__desc">
						I worked with the guys at CBRE to redesign their entire
						website and mobile app fro both Android and iOS. This
						project lasted for 4 months and was a very challenging
						one.
					</div>
				</div>
			</div>
			<div class="projects-item">
				<div class="projects-item__img">
					<img src="./img/projects/project1.png" loading="lazy" alt="project1" />
				</div>
				<div class="projects-item__info">
					<div class="projects-item__title">
						CoinView Mobile App Design
					</div>
					<div class="projects-item__desc">
						I worked with the guys at CBRE to redesign their entire
						website and mobile app fro both Android and iOS. This
						project lasted for 4 months and was a very challenging
						one.
					</div>
				</div>
			</div>
			<div class="projects-item">
				<div class="projects-item__img">
					<img src="./img/projects/project1.png" loading="lazy" alt="project1" />
				</div>
				<div class="projects-item__info">
					<div class="projects-item__title">
						CoinView Mobile App Design
					</div>
					<div class="projects-item__desc">
						I worked with the guys at CBRE to redesign their entire
						website and mobile app fro both Android and iOS. This
						project lasted for 4 months and was a very challenging
						one.
					</div>
				</div>
			</div>
			<div class="projects-item">
				<div class="projects-item__img">
					<img src="./img/projects/project1.png" loading="lazy" alt="project1" />
				</div>
				<div class="projects-item__info">
					<div class="projects-item__title">
						CoinView Mobile App Design
					</div>
					<div class="projects-item__desc">
						I worked with the guys at CBRE to redesign their entire
						website and mobile app fro both Android and iOS. This
						project lasted for 4 months and was a very challenging
						one.
					</div>
				</div>
			</div>
			<div class="projects-item">
				<div class="projects-item__img">
					<img src="./img/projects/project1.png" loading="lazy" alt="project1" />
				</div>
				<div class="projects-item__info">
					<div class="projects-item__title">
						CoinView Mobile App Design
					</div>
					<div class="projects-item__desc">
						I worked with the guys at CBRE to redesign their entire
						website and mobile app fro both Android and iOS. This
						project lasted for 4 months and was a very challenging
						one.
					</div>
				</div>
			</div>
			<div class="projects-item">
				<div class="projects-item__img">
					<img src="./img/projects/project1.png" loading="lazy" alt="project1" />
				</div>
				<div class="projects-item__info">
					<div class="projects-item__title">
						CoinView Mobile App Design
					</div>
					<div class="projects-item__desc">
						I worked with the guys at CBRE to redesign their entire
						website and mobile app fro both Android and iOS. This
						project lasted for 4 months and was a very challenging
						one.
					</div>
				</div>
			</div>
			<div class="projects-item">
				<div class="projects-item__img">
					<img src="./img/projects/project1.png" loading="lazy" alt="project1" />
				</div>
				<div class="projects-item__info">
					<div class="projects-item__title">
						CoinView Mobile App Design
					</div>
					<div class="projects-item__desc">
						I worked with the guys at CBRE to redesign their entire
						website and mobile app fro both Android and iOS. This
						project lasted for 4 months and was a very challenging
						one.
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
