.small-title {
	text-transform: uppercase;
	font: var(--font-overline);
	color: var(--c-light-grey);
	margin-bottom: 41px;
}

.title {
	font: var(--font-h2);
	color: var(--c-text);
	margin-bottom: 73px;

	@include mobile {
		margin-bottom: 36px;
	}
}


a {
	color: var(--c-text);
}
img {
	border-radius: 3px;
}


._anim-show {
	transform: translate(0px, 120%);
	opacity: 0;
	transition: all 0.8s ease 0s;
}

._anim-show._active,
._active ._anim-show {
	opacity: 1;
	transform: translate(0px, 0px);
}

.zoomIn {
	animation-name: zoomIn;
	animation-duration: 1s;
	animation-fill-mode: both;
}

@keyframes zoomIn {
	0% {
		opacity: 0;
		transform: scale3d(.7, .7, .7);
	}

	50% {
		opacity: 1;
	}
}
