.btn {
	display: inline-flex;
	cursor: pointer;
	gap: 10px;
	outline: 0;
	padding: 24px 32px;
	font: var(--font-button);
	text-transform: uppercase;
	transition: var(--transition);
	background: transparent;
	white-space: nowrap;

	&._primary {
		color: var(--c-text);
		border: 1px solid var(--c-primary);
		&:hover {
			background: var(--c-primary);
			transform: scale(1.1) translateY(-5px);
		}
	}
}
